.banner{
    margin-top: 80px;
    width: 100%;
    min-width: 1200px;
    background: #392f59 url("../../img/movie_item/banner.png")no-repeat 50%;
}
a{
    text-decoration: none;
}
.header form, .header h3, .header input, .header li, .header ul {
    padding: 0;
    margin: 0;
    list-style: none;
     border: none;
}
.banner .wrapper{
    width: 1200px;
    margin: 0 auto;
    height: 376px;
    position: relative;
    /*margin-top: 81px;*/
}
.clearfix:after{
    clear: both;
}
.clearfix:after,.clearfix:before{
    content: " ";
    display: table;
}
.banner .wrapper .movieInfo-left{
    width: 300px;
    float: left;
    position: relative;
    top: 70px;
    overflow: hidden;
    z-index: 9;
}
.banner .wrapper .movieInfo_right{
    position: relative;
    margin-right: 30px;
    margin-left: 300px;
    margin-top: 70px;
}
.movieInfo-left .avater-shadow, .movieInfo_right .avater-shadow{
    position: relative;
    margin: 0 30px;
    width: 240px;
    height: 330px;
    padding-bottom: 40px;
    background: url("../../img/movie_item/shadow.png") no-repeat bottom;
}
.movieInfo-left .avater-shadow .avater{
    border: 4px solid #fff;
    height: 322px;
    width: 232px;
}
.movie-ver{
    position: absolute;
    top: 4px;
    left: -2px;
    font-size: 12px;
    color: #fff;
}
.movie-brief-container{
    position: absolute;
    color: #fff;
    font-size: 14px;
    z-index: 1;
}
.movie-brief-container ul li{
    margin: 12px 0;
    line-height: 100%;
}
.movie-brief-container .name{
    width: 900px;
    margin-top: 0;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 64px;
}
.movie-brief-container .ename {
    width: 340px;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 14px;
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.movie-brief-container ul{
    padding-left: 0;
}
.action-buyBtn{
    position: absolute;
    bottom: -10px;
}
.action-buyBtn .action a{
    cursor: pointer;
    float: left;
    display: block;
    width: 120px;
    height: 36px;
    background-color: #756189;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 2px;
}
.action-buyBtn .action i.wish-icon{
    background: url("../../img/movie_item/like.png");
}
.action-buyBtn .action i.icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 2px;
    width: 16px;
    height: 16px;
}
/*.action-buyBtn .action .wish-click{*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*font-size: 14px;*/
    /*line-height: 16px;*/
    /*color: #fff;*/
/*}*/
.action-buyBtn .action .score-btn i.score-btn-icon{
    background: url("../../img/movie_item/score.png");
}
.btn{
    display: inline-block;
    padding: 2px 15px;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    background-color: #df2d2d;
}
.action-buyBtn .btn.buy{
    margin-top: 15px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    padding: 0;
}
.action-buyBtn .action{
    margin-top: 60px;
}
.movie-stats-container {
    position: absolute;
    top: 138px;
    left: 342px;
}
.movie-stats-container .movie-index{
    margin-bottom: 16px;
    color: #fff;
}
.movie-stats-container .movie-index-title{
    font-size: 16px;
    margin-bottom: 8px;
}
.banner li, .banner p, .banner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}
.movie-stats-container .movie-index .movie-index-content{
    overflow: hidden;
}
.movie-stats-container .movie-index .movie-index-content .no-info{
    display: inline-block;
    font-size: 24px;
    color: #9c87b8;
    color: hsla(0,0%,100%,.4);
}
.movie-stats-container .movie-index .movie-index-content .index-left {
    float: left;
}
.movie-stats-container .movie-index .box .unit {
    font-size: 12px;
    padding-left: 4px;
}
.movie-stats-container .movie-index .box .malgun-gothic {
    font-size: 30px;

}
.malgun-gothic{
    font-family: "Malgun Gothic";
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.main-content-container{
    margin-top: 80px;
}
.main-content{
    width: 730px;
    float: left;
}
.tab-container .tab-title-container{
    border-bottom: 2px solid #eee;
}
.tab-container .tab-title-container .tab-title{
    cursor: pointer;
    float: left;
    margin-right: 30px;
    margin-bottom: -2px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #333;
    line-height: 100%;
    border-bottom: 2px solid transparent;
}
.tab-container .tab-title-container .tab-title.active{
    color: #ef4238;
    border-bottom-color: #ef4238;
}
.tab-container .tab-content-container .tab-content.active{
    display: block;
}
.tab-container .tab-content-container .tab-content{
    display: none;
}
.tab-desc{
    margin-top: 40px;
}
.module{
    position: relative;
    margin-bottom: 60px;
}
.module .mod-content{
    margin-top: 20px;
    color: #333;
}
.module .mod-title h3:before{
    float: left;
    content: "";
    display: inline-block;
    width: 4px;
    height: 18px;
    margin-right: 6px;
    background-color: #ef4238;
}
.module .mod-title h3{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    color: #333;
    line-height: 18px;
}
.module .mod-content{
    margin-top: 20px;
    color: #333;
}
.tab-desc .dra {
    font-size: 14px;
    line-height: 26px;
}
.module .mod-title .more{
    float: right;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    /*padding-right: 14px;*/
    /*background: url("../../img/movie_item/actor_more.png")no-repeat 50%;*/

}
.module .mod-title .more:after{
    /*float: right;*/
    /*cursor: pointer;*/
    /*font-size: 14px;*/
    /*color: #999;*/
    /*padding-right: 14px;*/
    float: right;
    content: "";
    display: inline-block;
    width: 14px;
    height: 8px;
    /*margin-right: 6px;*/
    margin-top: 5px;
    background: url("../../img/movie_item/actor_more.png")no-repeat 50%;
}
.tab-desc .celebrity-container .celebrity-group{
    float: left;
    margin-left: 30px;
}
.tab-desc .celebrity-container .celebrity-group:first-child{
    margin-left: 0;
}
.tab-desc.celebrity-container .celebrity-group{
    float: left;
    margin-left: 30px;
}
.celebrity-container .celebrity-type{
    margin-bottom: 16px;
    font-size: 17px;
}
.celebrity-container .celebrity-list{
    margin-left: -20px;
}
.tab-desc .celebrity-container .celebrity-group .celebrity{
    margin-bottom: 0;
}
.celebrity-container .celebrity{
    float: left;
    width: 128px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.celebrity-container .celebrity .portrait{
    margin-bottom: 6px;
    width: 128px;
    height: 170px;
    overflow: hidden;
}
.celebrity-container .celebrity .portrait img{
    width: 128px;
    height: 170px;
}
.default-img{
    background: url("../../img/movie_item/logo.png")no-repeat;
    background-size: contain;
    background-position: center;
    /*vertical-align: center;*/
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.celebrity-container .celebrity .name{
    margin-top: 8px;
    line-height: 1.2;
    color: #333;
}
.celebrity-container .celebrity .name, .celebrity-container .celebrity .role {
    display: inline-block;
    width: 128px;
    text-align: center;
    padding-bottom: 1px;
    margin-bottom: -1px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tab-desc .album>div:first-child, .tab-desc .album>div:first-child img{
    width: 465px;
    height: 258px;
}
.tab-desc .album>div{
    float: left;
    width: 126px;
    height: 126px;
    overflow: hidden;
}
.tab-desc .album .img2, .tab-desc .album .img3 {
    margin-left: 6px;
}
.tab-desc .album .img4, .tab-desc .album .img5 {
    margin-top: 6px;
    margin-left: 6px;
}
.tab-desc .album>div img{
    cursor: pointer;
    width: 126px;
    height: 126px;
}
/*奇怪的写法*/
.main-content-container>div.related{
    margin-left: 840px;
    width: 360px;
 }
.news-list{
    margin: 0;
}
.news-item{
    overflow: hidden;
    margin: 0 0 16px;
}
.news-img {
    background-color: #efefef;
    position: relative;
    width: 140px;
    height: 86px;
    overflow: hidden;
    float: left;
}
.news-img img {
    position: absolute;
}
.news-img-default {
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 68px;*/
    /*height: 62px;*/
    /*margin-top: -31px;*/
    /*margin-left: -34px;*/
    width: 140px;
    height: 86px;
    background: url("../../img/movie_item/logo.png")no-repeat;
    background-size: contain;
    background-position: center;

}
.news-main{
    overflow: hidden;
    position: relative;
    margin-left: 150px;
    height: 86px;
}
.news-title{
    line-height: 1.2;
    font-size: 16px;
    margin-top: 4px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-title a{
    color: #333;
}
.news-info{
    color: #999;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    bottom: 4px;
    left: 0;
    white-space: nowrap;
}
.news-icon, .news-source{
    display: inline-block;
    vertical-align: bottom;
}
.news-source {
    max-width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-icon-views{
   background-image: url("../../img/movie_item/view-logo.png");
}
.news-icon-comments{
    background-image: url("../../img/movie_item/comments-logo.png");
}
.news-icon-views {
    width: 18px;
    height: 14px;
    background: url("../../img/movie_item/view-logo.png")no-repeat top;
    background-size: 18px 14px;
}
.news-icon-comments{
    width: 18px;
    height: 14px;
    background: url("../../img/movie_item/comments-logo.png")no-repeat top;
    background-size: 18px 14px;
}
.news-icon{
    margin: 0 2px 0 5px;
}
.related-movie .movie-list{
    margin: -19px 0 20px -18px;
}
.main-content-container>div.related .movie-list dd {
    margin-left: 17px;
}
.related-movies dd {
    margin: 20px 0 0 20px;
}
.movie-list dd {
    margin: 30px 0 0 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.movie-item {
    position: relative;
    border: 1px solid #efefef;
    margin: -1px;
}
.main-content-container>div.related .movie-list .movie-item .movie-poster {
    width: 106px;
    height: 145px;
}
.movie-poster {
    background-color: #fcfcfc;
    width: 160px;
    height: 220px;
    overflow: hidden;
    position: relative;
}
.movie-poster .poster-default {
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 68px;*/
    /*height: 62px;*/
    /*margin-top: -31px;*/
    /*margin-left: -34px;*/
    background: url("../../img/movie_item/logo.png")no-repeat;
    background-position: center;
    background-size: contain;
}
.movie-poster .movie-overlay, .movie-poster img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
img {
    border-style: none;
}
.movie-ver {
    position: absolute;
    top: 4px;
    left: -2px;
    font-size: 12px;
    color: #fff;
}
.related-movies .movie-ver {
    display: none;
}
.main-content-container>div.related .movie-list .channel-detail {
    width: 106px;
}
.related-movies .channel-detail-orange, .related-movies .movie-item-title {
    font-size: 14px;
}
.related-movies .channel-detail {
    width: 106px;
}
.channel-detail {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}
.channel-detail a {
    color: #333;
}
.channel-detail-orange {
    color: #ffb400;
}