img {
    border-style: none;
}
.order-progress-bar {
    height: 60px;
    width: 100%;
    margin: 40px 0;
    text-align: center;
}
.main {
    width: 1200px;
    border: 1px solid #e5e5e5;
    font-size: 0;
}
.model-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
}
.order-progress-bar .step {
    float: left;
    width: 25%;
}

.order-progress-bar .step-num {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffd8d7;
    position: relative;
    top: 10px;
}
.order-progress-bar .done .step-num {
    background-color: #f03d37;
}
.order-progress-bar .bar {
    width: 0;
    height: 4px;
    border-left: 150px solid #ffd8d7;
    border-right: 150px solid #ffd8d7;
}
.order-progress-bar .first .bar {
    border-left-color: transparent!important;
}
.order-progress-bar .last .bar {
    border-right-color: transparent!important;
}
.order-progress-bar .done .bar {
    border-color: #f03d37;
}
.order-progress-bar .step-text {
    font-size: 14px;
    color: #999;
    display: inline-block;
    margin-top: 10px;
}
.order-progress-bar .done .step-text {
    color: #f03d37;
}
.model-container .model {
    width: 460px;
    height: 220px;
    padding: 30px 0;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
}
.model-container .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background:url("../img/seatChooser/seatChooserWarning.png") no-repeat;
}
.model-container .tip {
    font-size: 14px;
    color: #666;
    margin-bottom: 26px;
    margin-top: 12px;
}
.btn {
    display: inline-block;
    padding: 2px 15px;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    background-color: #df2d2d;
}
.model-container .btn {
    border-radius: 100px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    width: 260px;
    padding: 0;
    cursor: default;
}
.model-container .ok-btn {
    color: #fff;
    background-color: #f03d37;
    -webkit-box-shadow: 0 2px 10px -2px #f03d37;
    box-shadow: 0 2px 10px -2px #f03d37;
}
.side {
    width: 340px;
    background-color: #f9f9f9;
    padding: 20px;
    display: inline-block;
    float: right;
}

.hall {
    width: 820px;
    display: inline-block;
    vertical-align: top;
}
.hall .seat-example {
    margin: 30px 0 30px 118px;
}
.hall .seat-example .selectable-example {
    background-image: url("../img/seatChooser/availableSeat.png");
}
.hall .seat-example .sold-example {
    background-image: url("../img/seatChooser/soldSeat.png");
}
.hall .seat-example .selected-example {
    background-image: url("../img/seatChooser/selectedSeat.png");
}
.hall .seat-example .couple-example {
    padding-left: 77px!important;
    background-image: url("../img/seatChooser/coupleSeat.png");
}
.hall .seat-example .example {
    display: inline-block;
    font-size: 16px;
    color: #666;
    height: 26px;
    line-height: 26px;
    padding-left: 38px;
    background-repeat: no-repeat;
    margin-right: 50px;
}
.side .movie-info .poster {
    width: 115px;
    height: 158px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 2px 7px 0 hsla(0,0%,53%,.5);
    box-shadow: 0 2px 7px 0 hsla(0,0%,53%,.5);
    float: left;
}
.side .movie-info .content {
    margin-left: 140px;
}
.side .show-info {
    margin-top: 20px;
}
.side .ticket-info {
    padding: 20px 0 10px;
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
}
.side .confirm-order {
    padding: 20px 0;
    text-align: center;
}
.side .movie-info .poster img {
    width: 100%;
    height: 100%;
}
.side .movie-info .content {
    margin-left: 140px;
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.side .info-item {
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
}
.side .info-item .value {
    color: #151515;
    margin-left: 2px;
}
.side .show-info .info-item {
    margin-bottom: 9px;
}
.side .show-info .info-item .screen {
    color: #f03d37;
}
.side .show-info .info-item .value {
    width: 85%;
}
.side .ticket-info .no-selected span {
    color: #f03d37;
}
.side .show-info .info-item>span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.side .movie-info .content .name {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 0 0 14px;
}
.side .ticket-info .total-price {
    font-size: 14px;
    color: #333;
}
.side .ticket-info .buy-limit {
    font-size: 14px;
    color: #999;
    margin: 0;
}
.side .ticket-info .no-selected {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 28px 0 39px;
}
.side .ticket-info .text {
    font-size: 14px;
    color: #999;
    float: left;
}
.side .ticket-info .ticket-container {
    margin-left: 42px;
    margin-bottom: 20px;
    position: relative;
    top: -5px;
}
.side .ticket-info .ticket {
    cursor: default;
    position: relative;
    font-size: 12px;
    color: #f03d37;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 12px 10px 0;
    background: url("../img/seatChooser/ticket.png") no-repeat;
}
.side .ticket-info .total-price .price {
    color: #f03d37;
    font-size: 24px;
}
.side .ticket-info .total-price .price:before {
    content: "\FFE5";
    font-size: 14px;
}
.side .confirm-order {
    padding: 20px 0;
    text-align: center;
}
.confirm-info .confirm{
    box-shadow: 0 2px 10px -2px #f03d37;
    background-color: #f03d37;
    width: 260px;
    line-height: 42px;
    border-radius: 21px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 2.8em;
    display: block;
    border: none;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
}
.seats-block .row-id-container {
    width: 20px;
    float: left;
    margin-top: 112px;
    white-space: normal;
}
.seats-block .seats-container {
    margin-left: 50px;
    overflow: auto;
    position: relative;
    padding-top: 112px;
}
.seats-block .row-id {
    font-size: 16px;
    color: #999;
    margin-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    width: 20px;
    height: 26px;
    line-height: 29px;
    text-align: center;
}
.seats-block .screen-container {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
.seats-block .screen-container .screen {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #666;
    background: url("../img/seatChooser/screen.png")no-repeat;
    background-position-x: center;
    position: relative;
    margin-bottom: 40px;
}
.seats-block .screen-container .c-screen-line {
    width: 0;
    border-left: 1px dashed #e5e5e5;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 50%;
}
.seats-block .seat {
     display: inline-block;
     font-size: 0;
     width: 30px;
     height: 26px;
     margin: 0 5px;
     background: url("../img/seatChooser/availableSeat.png") no-repeat;
     background-position: 0 1px;
 }
.seats-block .no-seat {
    display: inline-block;
    font-size: 0;
    width: 30px;
    height: 26px;
    margin: 0 5px;
}
.seats-block .seat.sold {
    background-image: url("../img/seatChooser/soldSeat.png");
    background-repeat: no-repeat;
}
.seats-block .seat.selected {
    background-image: url("../img/seatChooser/selectedSeat.png");
    background-repeat: no-repeat;
}
.seats-block .row {
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
}