<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.william.film.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="com.william.film.pojo.Area">
    <result column="Area_Id" jdbcType="INTEGER" property="areaId" />
    <result column="City_Id" jdbcType="INTEGER" property="cityId" />
    <result column="Area_Name" jdbcType="VARCHAR" property="areaName" />
  </resultMap>
  <select id="findAreasByCity" resultMap="BaseResultMap">
    select Area_ID,a.City_Id,Area_Name from area a ,city c where a.City_Id = (select City_Id from city where City_Name=#{cityName,jdbcType=VARCHAR});
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Area_Id, City_Id, Area_Name
  </sql>
  <select id="selectByExample" parameterType="com.william.film.pojo.AreaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.william.film.pojo.AreaExample">
    delete from area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.film.pojo.Area">
    insert into area (Area_Id, City_Id, Area_Name
      )
    values (#{areaId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.william.film.pojo.Area">
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        Area_Id,
      </if>
      <if test="cityId != null">
        City_Id,
      </if>
      <if test="areaName != null">
        Area_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.film.pojo.AreaExample" resultType="java.lang.Long">
    select count(*) from area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update area
    <set>
      <if test="record.areaId != null">
        Area_Id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        City_Id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.areaName != null">
        Area_Name = #{record.areaName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update area
    set Area_Id = #{record.areaId,jdbcType=INTEGER},
      City_Id = #{record.cityId,jdbcType=INTEGER},
      Area_Name = #{record.areaName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>