<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.william.film.mapper.MovieActorMapper">
  <resultMap id="BaseResultMap" type="com.william.film.pojo.MovieActor">
    <id column="Movie_Id" jdbcType="INTEGER" property="movieId" />
    <id column="Person_Id" jdbcType="INTEGER" property="personId" />
    <result column="Person_Role" jdbcType="INTEGER" property="personRole" />
    <result column="Play_Role_Name" jdbcType="VARCHAR" property="playRoleName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Movie_Id, Person_Id, Person_Role, Play_Role_Name
  </sql>
  <select id="selectByExample" parameterType="com.william.film.pojo.MovieActorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie_actor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.william.film.pojo.MovieActorKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie_actor
    where Movie_Id = #{movieId,jdbcType=INTEGER}
      and Person_Id = #{personId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.william.film.pojo.MovieActorKey">
    delete from movie_actor
    where Movie_Id = #{movieId,jdbcType=INTEGER}
      and Person_Id = #{personId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.film.pojo.MovieActorExample">
    delete from movie_actor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.film.pojo.MovieActor">
    insert into movie_actor (Movie_Id, Person_Id, Person_Role, 
      Play_Role_Name)
    values (#{movieId,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, #{personRole,jdbcType=INTEGER}, 
      #{playRoleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.film.pojo.MovieActor">
    insert into movie_actor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="movieId != null">
        Movie_Id,
      </if>
      <if test="personId != null">
        Person_Id,
      </if>
      <if test="personRole != null">
        Person_Role,
      </if>
      <if test="playRoleName != null">
        Play_Role_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="movieId != null">
        #{movieId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="personRole != null">
        #{personRole,jdbcType=INTEGER},
      </if>
      <if test="playRoleName != null">
        #{playRoleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.film.pojo.MovieActorExample" resultType="java.lang.Long">
    select count(*) from movie_actor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie_actor
    <set>
      <if test="record.movieId != null">
        Movie_Id = #{record.movieId,jdbcType=INTEGER},
      </if>
      <if test="record.personId != null">
        Person_Id = #{record.personId,jdbcType=INTEGER},
      </if>
      <if test="record.personRole != null">
        Person_Role = #{record.personRole,jdbcType=INTEGER},
      </if>
      <if test="record.playRoleName != null">
        Play_Role_Name = #{record.playRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie_actor
    set Movie_Id = #{record.movieId,jdbcType=INTEGER},
      Person_Id = #{record.personId,jdbcType=INTEGER},
      Person_Role = #{record.personRole,jdbcType=INTEGER},
      Play_Role_Name = #{record.playRoleName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.film.pojo.MovieActor">
    update movie_actor
    <set>
      <if test="personRole != null">
        Person_Role = #{personRole,jdbcType=INTEGER},
      </if>
      <if test="playRoleName != null">
        Play_Role_Name = #{playRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    where Movie_Id = #{movieId,jdbcType=INTEGER}
      and Person_Id = #{personId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.film.pojo.MovieActor">
    update movie_actor
    set Person_Role = #{personRole,jdbcType=INTEGER},
      Play_Role_Name = #{playRoleName,jdbcType=VARCHAR}
    where Movie_Id = #{movieId,jdbcType=INTEGER}
      and Person_Id = #{personId,jdbcType=INTEGER}
  </update>
</mapper>