<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.film.mapper.UsertestMapper">

    <!--用户注册方法-->
    <insert id="addUser" parameterType="Usertest">
        insert into usertest (uname,upwd) values (#{uname},#{upwd})
    </insert>


    <resultMap id="BaseResultMap" type="com.william.film.pojo.Usertest" >
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <result column="uname" property="uname" jdbcType="CHAR" />
        <result column="upwd" property="upwd" jdbcType="CHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        uid, uname, upwd
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.film.pojo.UsertestExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from usertest
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from usertest
        where uid = #{uid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from usertest
        where uid = #{uid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.william.film.pojo.UsertestExample" >
        delete from usertest
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.william.film.pojo.Usertest" >
        insert into usertest (uid, uname, upwd)
        values (#{uid,jdbcType=INTEGER}, #{uname,jdbcType=CHAR}, #{upwd,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.william.film.pojo.Usertest" >
        insert into usertest
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="uname != null" >
                uname,
            </if>
            <if test="upwd != null" >
                upwd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="uname != null" >
                #{uname,jdbcType=CHAR},
            </if>
            <if test="upwd != null" >
                #{upwd,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.william.film.pojo.UsertestExample" resultType="java.lang.Integer" >
        select count(*) from usertest
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update usertest
        <set >
            <if test="record.uid != null" >
                uid = #{record.uid,jdbcType=INTEGER},
            </if>
            <if test="record.uname != null" >
                uname = #{record.uname,jdbcType=CHAR},
            </if>
            <if test="record.upwd != null" >
                upwd = #{record.upwd,jdbcType=CHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update usertest
        set uid = #{record.uid,jdbcType=INTEGER},
        uname = #{record.uname,jdbcType=CHAR},
        upwd = #{record.upwd,jdbcType=CHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.william.film.pojo.Usertest" >
        update usertest
        <set >
            <if test="uname != null" >
                uname = #{uname,jdbcType=CHAR},
            </if>
            <if test="upwd != null" >
                upwd = #{upwd,jdbcType=CHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.william.film.pojo.Usertest" >
        update usertest
        set uname = #{uname,jdbcType=CHAR},
        upwd = #{upwd,jdbcType=CHAR}
        where uid = #{uid,jdbcType=INTEGER}
    </update>
</mapper>